<%= javascript_include_tag "invoice.js" %>
<%= javascript_include_tag "orders.js" %>
<div id="order-grid"></div>
<script type="text/javascript">
//<![CDATA[
          var order_datastore = new Ext.data.Store({
                  proxy: new Ext.data.HttpProxy({
                             url: '/report_orders/index?format=ext_json',
							 baseParams:{year:<%=@year%>},
                             method: 'GET'
                         }),
                  reader: new Ext.data.JsonReader({
                              root: 'orders',
                              id: 'id',
                              totalProperty: 'results'
                          },
                          [ {name: 'id', mapping: 'id'},
						  	{name:"order[login]",mapping:'user.login'},
						//	{name: 'order[project_id]', mapping: 'project_id'},
							{name: 'order[title]', mapping: 'title'},
							{name: 'order[code]', mapping: 'code'},
							{name: 'order[received_invoice]', mapping: 'received_invoice'},
							{name: 'order[project]', mapping: 'project.title'},
							{name: 'order[user_id]', mapping: 'user_id'},
							{name: 'order[document_id]', mapping: 'document_id'},
							{name: 'order[total]', mapping: 'total'},
							{name: 'order[delivery]', mapping: 'delivery'},
							{name: 'order[total]', mapping: 'total_report'},
							{name: 'order[total_ivato_report]', mapping: 'total_ivato_report'},
							{name: 'order[iva_report]', mapping: 'iva_report'},
							{name: 'order[total_report]', mapping: 'total_report'},
							{name: 'order[supplier]', mapping: 'supplier.ragionesociale'},
							{name: 'order[job]', mapping: 'project.code'},
							{name: 'order[notes]', mapping: 'notes'},
							{name: 'order[amount_invoice]', mapping: 'amount_invoice'},
							{name: 'order[payed_invoice]', mapping: 'payed_invoice'},
							{name: 'order[expires_invoice]', mapping: 'expires_invoice'},
							{name: 'order[created_at]', mapping: 'created_at'},
							{name: 'order[updated_at]', mapping: 'updated_at'} 
						]),
                  // turn on remote sorting
                  remoteSort: true,
                  sortInfo: {field: 'id', direction: 'asc'}
              });

              function budget_renderer(a, b, r){
                  return String.format("<a href='#' onclick='parent.add_tab(\"/projects/edititems/{0}\",\"{1} {0}\",\"icon_book\")'>{2}</a>", r.get("order[project_id]"), '<%=:a_edit.l << " " << :l_budget.localize%>', r.get("order[project]"));
              }
//]]>
</script>
<% javascript_tag do -%>
 
		
  var order_column_model = new Ext.grid.ColumnModel([
    
    {id: 'sh', header: "Visualizza",  width: 30, renderer:function(a,b,r){return "<a target='_blank' href='/documents/show/" + r.get("order[document_id]") + "'>visualizza</a>"}
	},
	{		  header: "Ordine", width: 30, dataIndex:'order[code]'},
	{		  header: "Fornitore",  dataIndex:'order[supplier]'},
	{         header: "Job",  dataIndex:'order[job]'},
	
	{id: 'og',header: "Oggetto"  ,dataIndex:'order[title]'},
	{id: 'ri',header: "Ricevuta Fattura",  dataIndex:'order[received_invoice]', renderer:function(a){ return a==1?'S':'N'}},
	{id: 'pi',header: "Pagata Fattura" , dataIndex:'order[payed_invoice]', renderer:function(a){ return a==1?'S':'N'}},
    
	//{header: 'Consegna', dataIndex: 'order[delivery]'},
    //{header: 'Ultimo Utente', dataIndex: 'order[login]',hidden:true}
	{header: 'Importo', dataIndex: 'order[total_ivato_report]',hidden:false,align:"right"},
	{header: 'Iva', dataIndex: 'order[iva_report]',hidden:false,align:"right"},
	{header: 'Totale', dataIndex: 'order[total_report]',hidden:false,align:"right"},
	{header: 'Scadenza Fattura', dataIndex: 'order[expires_invoice]',renderer: function(a)
															{
																var dt = Date.parseDate(a,'Y-m-d');
																return  Ext.util.Format.dateRenderer('d/m/Y')(dt)
															}},
	/*,
	{header: 'Data Creazione', dataIndex: 'order[created_at]',renderer: Ext.util.Format.dateRenderer('d/m/Y H:i:s'),hidden:true},
    {header: 'Data Ultima Modifica', dataIndex: 'order[updated_at]',renderer: Ext.util.Format.dateRenderer('d/m/Y H:i:s'),hidden:true}*/
  ]);
 
<% end -%>
<script type="text/javascript">
//<![CDATA[
          Ext.onReady(function(){

              //Ext.state.Manager.setProvider(new Ext.state.CookieProvider());
              Ext.QuickTips.init();
			  
              var ds = order_datastore;

              var cm = order_column_model;
              cm.defaultSortable = true;

              // create the grid
              var grid = new Ext.grid.GridPanel({
                  ds: ds,
                  cm: cm,
                  loadMask:true,
                  sm: new Ext.grid.RowSelectionModel({singleSelect:true}),
                  renderTo:   'order-grid',
                  title:      '<%= :listing.l + " " +  :l_orders.l%>',
                  id:         null,
                  width:      getViewPort(5).width,
                  height:     getViewPort(5).height,
                  stripeRows: true,
                  viewConfig: {
                      forceFit:true
                  },
				  tbar: new Ext.Toolbar({
				  	items:[
								{text:"Gestisci Ordine",handler:function(){
									 var selected = grid.getSelectionModel().getSelected();
		                                 if(selected) {
										  manage_order(selected,{token:'<%=form_authenticity_token%>'})
		                                 } else { 
		                                   alert('<%=:grid_select_row.l%>.');
		                                 }
									
									}
									
								},
								"-",{text:"Stampa elenco",handler:function(){
									 window.open("index?format=odt&year=<%=@year%>")
									 
									 
								}},
								"-",
								"Anno:",
								{
									xtype:"textfield",
									width:50,
									id:"_anno",
									value:"<%=@year%>"
								},
								{
									xtype:"button",
									text:"cambia",
									handler:function(){
										document.location="index?year=" + Ext.getCmp("_anno").getValue();									
									}
								}
					]
					
				  }),
				  
				  
                  bbar: new Ext.PagingToolbar({
                            pageSize:  <%=@default_grid_page_size%>,
                            store: ds,
                            displayInfo: true,
                            displayMsg: 'Record {0} - {1} of {2}',
                            emptyMsg: 'Nessun record trovato.'
                  })
               
              });
			  grid.on("rowdblclick",function(grid, row, e){
			  	manage_order(grid.store.getAt(row),{token:'<%=form_authenticity_token%>'})
			  })
              ds.baseParams={year:'<%=@year%>',fields:'',query:'',project_id:'<%=params[:project_id]%>'<%=',orderid:'+params[:orderid] if params[:orderid]%>}
              ds.load({
                          params: { 
                                    start: 0, 
                                    limit: <%=@default_grid_page_size%>,
                                    fields:'',
                                    query:'',
                                    year:'<%=@year%>'
                                    }
                        });

          });
		  

//]]>
</script>
<div id="orders-win" class="x-hidden">
    <div class="x-window-header">
        Informazioni per la gestione dell'ordine
    </div>
    <div class="x-window-body">
        <div id="manage-order">
        </div>
	</div>
</div>
