<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>PDF GENERATOR</title>
		<%= stylesheet_link_tag 'ext_scaffold' %>
    	<%= stylesheet_link_tag 'top' %>
	
		  <%= stylesheet_link_tag "../ext/resources/css/ext-all.css" %>

		  <%= stylesheet_link_tag 'xtheme-silverCherry' %>
	</head>
	<body>
			<img src="d:/webapps/TopProjectManagement/public/images/a.gif" />
			<%= yield  %>
	</body>
</html>
